@model IEnumerable<KnowledgeHubPortal.Models.Domain.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Articles</h1>

<p>
    <a asp-action="Submit" class="btn btn-primary">Create New</a>
</p>
    <form  class ="text-center" id="myCat" asp-action="Index" asp-controller="Articles" method="post">
    <label for="CategoryID">Category : </label>
    <select id="CategoryID" name="CategoryID">
        <option value="">Categories</option>
        @foreach (var item in ViewBag.Categories as List<KnowledgeHubPortal.Models.Domain.Category>)
        {
            <option value="@item.CategoryID">@item.CategoryName</option>
        }
    </select>
   </form>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
               <a href="@item.URL" target="_blank">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

        </tr>
}
    </tbody>
</table>

<script>
    document.getElementById("CategoryID").addEventListener("change", function (e) {
        e.preventDefault();
        document.getElementById("myCat").submit();
    });
</script>
