@model IEnumerable<KnowledgeHubPortal.Models.Domain.Article>

@{
    ViewData["Title"] = "Review";
}

<h1>Review</h1>
<form method="post">
<table class="table table-striped">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" name="articleid" value="@item.ArticleID"/>
            </td>
            <td>
               <a href="@item.URL" target="_blank">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="submit" asp-action="Approve" asp-controller="Articles" name="btnApprove" value="Approve" class="btn btn-primary "/>
        </div>
        <div class="col-6">
            <input type="submit" asp-action="Reject" asp-controller="Articles" name="btnReject" value="Reject" class="btn btn-danger" />
        </div>
    </div>
</div>
</form>
