@model List<KnowledgeHubPortal.Models.Domain.Category>


<h1>List of Categories</h1>
<hr/>
<form asp-action="index" asp-controller="Categories" method="post">
<input type="text" name="term" placeholder="Enter name to search" />
<input type="submit" name="btnSubmit" value="Search" />
</form>
<hr/>

<h4>@TempData["Message"]</h4>

<a href="Categories/Create" class="btn btn-primary">Create</a>

<table class="table table-bordered table-striped">
    <tr >
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
        <td>@cat.CategoryID</td>
        <td>@cat.CategoryName</td>
        <td>@cat.CategoryDescription</td>
        @* <td><a href="Categories/Edit?id=@cat.CategoryID" class="btn btn-primary">Edit</a></td> *@
        <td><a asp-action="Edit" asp-controller="Categories" asp-route-id="@cat.CategoryID" class="btn btn-primary">Edit</a></td>
        </tr>
    }
</table>

